ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 600px;
  margin: 0 auto;
  color: blue;
}

.container input {
  display: none;
}

.container:hover {
  color: inherit;
}

.accordeon__item {
  border: 1px solid black;
  overflow: hidden;
}

input:checked+label {
  color: black;
}

.accordeon__image {
  max-height: 0;
  transition: all 1s ease-in-out;
}

input:checked~.accordeon__image {
  max-height: 100vh;
  padding: 1rem 0;
  transition: all 1s ease;
  box-sizing: border-box;
}
